.locations-standards-export-list-page {
  .generated-timestamp {
    white-space: nowrap;
  }

  .column-header-right > span {
    width: 100%;
    text-align: right;
  }

  .partial-list {
    margin-bottom: 1rem;
  }

  .column-lock-warning > .text-danger {
    margin-top: 2px;
  }
}
