.non-most-steps-container > .non-most-step-container > .non-most-step-editor > .header {
  background-color: $gray-lighter;
  border: 2px solid $gray;
  border-radius: 5px 5px 0 0;
  padding: 6px 10px 6px 0;

  @include flexbox(row, flex-start, center);

  > .number {
    flex: 0 0 32px;
    font-weight: bold;
    margin: 0 10px;
    text-align: center;
    overflow: hidden;
  }

  > .form-group.description {
    // This odd combination of properties is to
    // fix an issue in Microsoft Edge that caused
    // the input to not shrink correctly.
    flex: 0 1 100%;
    max-width: 800px;
    margin: 0 10px;
  }

  > .header-actions {
    flex: 1 0 auto;
    margin-right: 10px;

    > button:last-of-type {
      margin-left: 10px;
    }
  }
}
