.volumeDriverMappingVariables-list-page {
  div.volume-driver-mapping-variable-value {
  
    text-align: right;
  }
  .departments-selector {
    width: $dropdown-page-selector-width;
    margin-bottom: 0;
    margin-right: 15px;
  }
  .volume-driver-mapping-variables-grid-header-section {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
}
