.volume-driver-mapping-set-list-entry-editor {
  padding: 10px;
  background-color: $gray-light;
  border-radius: 5px;
  margin-bottom: 5px;

  > .actions {
    flex: 0 auto;
    @include flexbox(row, space-between, center);
  }
}
