.import-file-validation-errors-modal {
  .modal-body > div {
    overflow: auto;
    max-height: 350px;
  }

  .file-import-field {
    > h4 {
      font-weight: bold;
    }

    > div {
      margin-left: 20px;
    }
  }
}
