.most-steps-container > .most-step-container > .most-step-editor > .details {
  border: 2px solid $gray;
  border-top-style: none;
  padding: 0 0 10px;
  overflow: hidden;

  @include flexbox(row, flex-start, center);
  flex-wrap: wrap;

  > .sequence-model-type {
    flex: 0 0 165px;
    max-width: 165px;
    margin: 10px 10px 0;
  }

  > .tool-type {
    flex: 0 0 150px;
    max-width: 150px;
    margin: 10px 10px 0;
  }

  > .equipment-type {
    flex: 0 0 125px;
    max-width: 125px;
    margin: 10px 10px 0;
  }

  > .num-objs-manip {
    flex: 0 0 180px;
    max-width: 180px;
    color: $gray-dark;
    margin: 10px 10px 0;
    white-space: nowrap;
    overflow: hidden;

    @include flexbox(row, flex-start, center);

    > label {
      margin-bottom: 0;
    }

    > input {
      margin-left: 15px;
      width: 60px;
      text-align: right;
    }
  }

  > .simo-toggle {
    flex: 1 95px;
    min-width: 95px;
    color: $gray-dark;
    margin: 10px 10px 0;

    @include flexbox(row, center, center);

    > i {
      margin-left: 15px;
      font-size: 3.5rem;
    }

    > i.fa-toggle-on {
      color: $text-color;
    }
  }

  > .frequency {
    flex: 1 185px;
    min-width: 185px;
    color: $gray-dark;
    margin: 10px 10px 0;

    @include flexbox(row, center, center);

    > label {
      margin-bottom: 0;
    }

    > input {
      flex: 0 0 110px;
      max-width: 110px;
      text-align: right;
      margin-left: 15px;
    }

    > .validation-error {
      margin: 0 0 0 5px;
    }
  }

  > .tmus {
    flex: 1 150px;
    min-width: 150px;
    color: $gray-dark;
    margin: 10px 10px 0;

    @include flexbox(row, center, center);

    > .value {
      margin-left: 15px;
      color: $text-color;
    }

    > label {
      margin-bottom: 0;
    }

    > input {
      flex: 0 0 110px;
      max-width: 110px;
      text-align: right;
      margin-left: 15px;
    }
  }

  > .time {
    flex: 1 160px;
    min-width: 160px;
    color: $gray-dark;
    margin: 10px 10px 0;

    @include flexbox(row, center, baseline);

    > .value {
      margin-left: 15px;
      color: $text-color;
    }
  }
}
