.tumbleweed-scheduling-page,
.tumbleweed-scheduling-form {
  .item-label {
    margin-top: 24px;
    margin-bottom: 8px;
    font-weight: bold;
  }

  .action-buttons {
    margin-top: 32px;
  }

  .schedule-button {
    min-width: 110px;
    margin-right: 8px;
  }

  .padded {
    margin-left: 16px;
  }

  .schedule-delete-button {
    min-width: 33px;
  }

  .note {
    font-size: 14px;
    margin-bottom: 8px;
  }
}
