.standard-item-container > .standard-element-container > .list-item-inserter-container > .list-item-inserter > .plus-button-container > i {
  margin-left: 8px;
}

.standard-item-container > .standard-element-editor-container > .list-item-inserter-container > .list-item-inserter > .plus-button-container > i {
  margin-left: 8px;
}

.standard-element-group-container {
  > .standard-element-group {
    > .standard-element-container > .list-item-inserter-container {
      position: relative;
      top: 3px;
      margin-top: -10px;
    }

    > .list-item-inserter-container {
      position: relative;
      top: 3px;
      margin-top: -10px;
    }
  }

  > .list-item-inserter-container > .list-item-inserter > .plus-button-container > i {
    margin-left: 8px;
  }
}
