.standard-items-container>.standard-item-container {
  margin-bottom: 15px;
}

.items-wrapper {
  margin-bottom: 30px;
}

.standard-element-groups-collapse {
  padding: 10px 0px;
  text-align: left;
}

.standard-element-groups-collapse>button {
  padding: 1px 8px;
}