.sidebar {
  .element-profile-sidebar-actions > button {
    margin-left: 10px;
  }

  .element-status-log {
    @include flexbox(row, flext-start);

    > .statuses {
      flex: 1 0 220px;
    }

    > .date {
      flex: 1 0 10px;
      text-align: right;
    }

    > .comment {
      flex: 1 0 10px;
      text-align: right;
    }
  }

  .element-status-log-comment {
    border: solid 1px $gray;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 15px;
  }
}
