.allowanceRests-list-edit-sidebar {
  .used-in-production {
    padding: 0 30px 0 20px;
    color: $brand-danger;
    display: inline;
    position: absolute;
    top: 30px;
    font-size: 0.85em;  
  }
}
